@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Hind:wght@300;400;700&family=Inter+Tight:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik+Doodle+Shadow&display=swap');

:root {
	--margin-xs: 2px;
	--margin-sm: 4px;
	--margin-md: 6px;
	--margin-lg: 8px;
	--margin-xl: 16px;

	--font-sm: 1rem;
	--font-md: 1.2rem;
	--font-lg: 1.3rem;
	--font-xl: 4rem;

	--font-thin: 300;
	--font-bold: 700;

	--topbar-height: 20px;
}

body {
	padding: 0;
	margin: 0;
	font-family: var(--font-default);
	background-color: var(--background);
	color: var(--on-background);
}

button {
	background-color: var(--primary);
	color: var(--on-primary);
	font-weight: var(--font-bold);
	font-size: var(--font-sm);
	padding: var(--margin-md) var(--margin-lg);
	border: var(--margin-xs) solid var(--on-primary);
	border-radius: var(--margin-sm);
	box-shadow: var(--margin-xs) var(--margin-xs) 0 var(--on-secondary);
}

table {
	width: 100%;
}

th {
	text-align: left;
	font-size: var(--font-lg);
}

td {
	font-size: var(--font-md);
	vertical-align: top;
}

th:first-of-type,
td:first-of-type {
	width: 70%;
}

.no-posts {
	width: 100%;
	text-align: center;
	font-size: var(--font-md);
	font-weight: var(--font-bold);
}

a {
	color: var(--on-primary);
}

.invisible {
	visibility: hidden;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.rotating {
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
}
